
body {
    font-family: 'Montserrat', sans-serif;
}

/* home page */
.home {
    background: url('../assets/home-back.png') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position:center center
    
}

.my-button {
    background-color: #3b44b3 !important;
    border: #3b44b3;
    max-width: 200px;
}
.my-button:hover {
    background-color: #a8e134 !important;
    border: #a8e134 ;
    
}
.home-text {
    font-family: 'Days One', sans-serif;
    font-size: 2rem;
    color: #facc26;
}
.home-text .pink {
    color: #ff8579;
}
.home-text .ai {
    color:#3b44b3
}
/* authtentication forms */
.authenticate {
    margin-top: 5rem;
}

.auth-form {
    padding: 50px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* dashboard forms */

.input-group-append {
    cursor: pointer;
  }
/* 
.datetime-picker {
    width: auto!important
} */
.heatmap {
    max-width: 30vw;
    min-width: 300px
}
#chart1 {
    max-width: 90vw;
    min-width: 90vw;
}
.graph-chart {
    border: solid rgba(128, 128, 128, 0.349) 1px;
    border-radius: 25px;

    background-color: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.dash-form {
    margin-top: 5vh;
    max-width: 300px; 
    /* border-radius: 30px ; */
    min-width: 30vw;
    padding: 40px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */

}

.car-image {
    border-radius:25px ;
    
}
.my-carousel {
    padding-right: 20vw !important;
    padding-left: 20vw !important;


}

#first-section {
    min-height: 80vh;


 
}
#second-section {
    margin-top: 30px;
    min-height: 80vh;

}
.carousel {
    box-shadow: rgba(26, 24, 17, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px !important;
    border-radius: 25px;
    border: solid rgba(61, 61, 61, 0.836) 1px;
    padding: 50px;

}
.heat-image {
    border-radius: 25px;
border: solid rgba(128, 128, 128, 0.349) 1px;
    box-shadow: rgba(26, 24, 17, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px !important;

}

/* button scroll back */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    background-color: #3b44b3 !important;
    border: none;
  }
/* 
  account */


.profile-nav, .profile-info{
    margin-top:30px;   
}

.profile-nav .user-heading {
    background: #fbc02d;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    font-size: 12px;
}

.profile-nav ul {
    margin-top: 1px;
}

.profile-nav ul > li {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;
}

.profile-nav ul > li:last-child {
    border-bottom: none;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
    background: #f8f7f5 !important;
    border-left: 5px solid #fbc02d;
    color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i{
    font-size: 16px;
    padding-right: 10px;
    color: #bcb3aa;
}

.r-activity {
    margin: 6px 0 0;
    font-size: 12px;
}


.p-text-area, .p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
}

.profile-info .panel-footer {
    background-color:#f8f7f5 ;
    border-top: 1px solid #e7ebee;
}

.profile-info .panel-footer ul li a {
    color: #7a7a7a;
}


.file-pos {
    margin: 6px 0 10px 0;
}

.modebar{
    display: none !important;
}