
body {
    font-family: 'Montserrat', sans-serif;
}
.page {
    min-height: 100vh;
    
}
/* navbar */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;    background-color: #33383b00 !important;
    backdrop-filter: blur(5px);

}
/* home page */
.home {
    background: url('../assets/home-back.png') no-repeat;
    min-height: 100vh;
    background-size: cover;

    
}

.my-button {
    background-color: #3b44b3 !important;
    border: #3b44b3;
    max-width: 200px;
}
.my-button:hover {
    background-color: #a8e134 !important;
    border: #a8e134 ;
    
}
.home-text {
    font-family: 'Days One', sans-serif;
    font-size: 2rem;
    color: #facc26;
}
.home-text .pink {
    color: #ff8579;
}
.home-text .ai {
    color:#3b44b3
}

/* authtentication forms */
.loggging {
 height: 100vh;
 background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}


.auth-form {
    padding: 50px;
    border-radius: 30px;
    background-color: white;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

/* dashboard forms */

.input-group-append {
    cursor: pointer;
  }
/* 
.datetime-picker {
    width: auto!important
} */
.heatmap {
    max-width: 30vw;
    min-width: 300px
}
#chart1 {
    max-width: 90vw;
    min-width: 90vw;
}
.graph-chart {
    border: solid rgba(128, 128, 128, 0.349) 1px;
    border-radius: 25px;

    background-color: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.dash-form {
    margin-top: 5vh;
    max-width: 300px; 
    /* border-radius: 30px ; */
    min-width: 30vw;
    padding: 40px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */

}

.car-image {
    border-radius:25px ;
    
}
.my-carousel {
    padding-right: 20vw !important;
    padding-left: 20vw !important;



}

#first-section {
    min-height: 80vh;


 
}
#second-section {
    margin-top: 30px;
    min-height: 80vh;

}
.carousel {
    box-shadow: rgba(26, 24, 17, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px !important;
    border-radius: 25px;
    border: solid rgba(61, 61, 61, 0.836) 1px;
    padding: 50px;

}
.heat-image {
    border-radius: 25px;
border: solid rgba(128, 128, 128, 0.349) 1px;
    box-shadow: rgba(26, 24, 17, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px !important;

}

.heatmap {
    border-radius: 25px;
}
.logo-form {
    width: 70px;
}

/* button scroll back */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    background-color: #3b44b3 !important;
    border: none;
  }
/* 
  account */
.api-secret-key {
    width: 40vw;
    max-width:400px;
}




/* footer */


section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;

  color: #3a3a3a;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}